/*
I guess this global rule is appropriate
considering Bootstrap has been
doing so for ages now.
*/
*,
*:before,
*:after
{
  box-sizing : border-box;
}

html, body
{
	/* Removes higlight on tap on mobile devices. */
	-webkit-tap-highlight-color : transparent;
}

body
{
	/* Disables "double tap to zoom in" on mobile devices. */
	/* https://stackoverflow.com/questions/46167604/iphone-html-disable-double-tap-to-zoom */
	touch-action: manipulation;
}

/* `html` is required in order for `rem`s to work. */
/* Also doesn't work without `body` for some weird reason. */
html, body {
	font-family: var(--Document-fontFamily);
	font-size: var(--Document-fontSize);
	font-weight: var(--Document-fontWeight);
	@mixin xxs {
		--Document-fontSize: var(--Document-fontSize--xxs);
	}
	@mixin xs {
		--Document-fontSize: var(--Document-fontSize--xs);
	}
	@mixin s {
		--Document-fontSize: var(--Document-fontSize--s);
	}
	@mixin m {
		--Document-fontSize: var(--Document-fontSize--m);
	}
	@mixin l-plus {
		--Document-fontSize: var(--Document-fontSize--m);
	}
}

input, textarea, select, table
{
	font-family: inherit;
	font-size: inherit;
}

body {
	margin: 0;
	/* Always shows the vertical scrollbar so that
	   it doesn't appear/disappear on different pages. */
	overflow-y: scroll;
	color: var(--Content-color-900);
	background-color: var(--Content-backgroundColor);
}

/* Set `<body/>` background color
   in order to show correct color when scrolling
   past top/bottom of the page on touch devices. */
.document--background {
	color: var(--Document-color);
	background-color: var(--Document-backgroundColor);
	background-image: var(--Document-backgroundImage);
}

a {
	color: var(--Clickable-color--text);
	text-decoration: none;
	&:active {
		color: var(--Clickable-color--textActive);
	}
}

strong {
	font-weight: var(--Content-fontWeight--bold);
}

.link--block {
	display: block;
	color: initial;
}

/* Internet Explorer adds borders around all images */
img {
	border: none;
}

.dark img {
	/* Darken pictures in "Dark Mode". */
	filter: var(--Picture-filter);
}

p {
	line-height: var(--Document-lineHeight);
	margin-top: 1em;
	margin-bottom: 0;
}

pre, code {
	font-family: var(--Document-fontFamily--monospace);
}

.position-relative {
	position: relative;
}

::selection {
	color: var(--Selection-color);
	background-color: var(--Selection-backgroundColor);
}

.no-margin-collapse {
	/* `overflow: hidden` won't do because it hides `box-shadow`. */
	/*overflow: hidden;*/
}

/*
Alternative:
.no-margin-collapse:before,
.no-margin-collapse:after {
	content: ' ';
	display: table;
}
*/

/* Alternatlive:
This won't work for captchan's board page,
because this way the spacing between thread cards
will be clickable (and that would be a bug).
.no-margin-collapse {
	display: flex;
	flex-direction: column;
}
*/