@import "./grid.mixins";

/* Global. */
:root {
	/* https://refactoringui.com/previews/building-your-color-palette */
	/* "Base" color (orange). */
	--base-color-100: #FFF4EC;
	--base-color-200: #FFD0AF;
	--base-color-300: #FFA061;
	--base-color-400: #ff7f24;
	--base-color-500: #ee6602;
	--base-color-600: #d65800;
	--base-color-700: #b84600;
	--base-color-800: #8f3c00;
	--base-color-900: #6D2D00;

	--white-color: #ffffff;

	/* PageLoading. */
	--PageLoading-hideAnimationDuration: 160ms;
	--PageLoading-showAnimationDuration: 600ms;
	--PageLoading-showAnimationDelay: 500ms;
	--PageLoading-zIndex: 1000;

	/* Document. */
	--Document-color: var(--Content-color-900);
	--Document-backgroundColor: var(--Content-backgroundColor);
	--Document-backgroundImage: none;
	--Document-fontFamily: Roboto, sans-serif;
	/* Roboto Mono looks bad when applied to code.
	   Instead, it should only be used in special cases of monospace,
	   and not for code. */
	/*--Document-fontFamily--monospace: 'Roboto Mono', monospace;*/
	--Document-fontFamily--monospace: monospace;
	--Document-fontWeight: normal;

	/* LinearProgress. */
	--LinearProgress-backgroundColor: rgb(167, 202, 237);
	--LinearProgress-color: #1976d2;
	--LinearProgress-height: 4px;
	--LinearProgress-animationTimingFactor: 1;
	--LinearProgress-animationDuration: calc(2.1s * var(--LinearProgress-animationTimingFactor));
	--LinearProgress-animationInterval: calc(1.18s * var(--LinearProgress-animationTimingFactor));

	/* Text. */
	--Text-maxWidth: 44em;
	--Text-fontFamily: var(--Document-fontFamily);

	/* Header. */
	--Header-height: calc(var(--unit) * 3);
	--Header-borderWidth: 1px;
	--Header-color--textHover: var(--Clickable-color--text);
	--Header-color--textActive: var(--Clickable-color--textActive);

	/* Notification. */
	--Notification-color: var(--Content-backgroundColor);
	--Notification-backgroundColor: var(--Content-color-900);
	--Notification-borderColor: var(--Content-color-400);
	--Notification-borderWidth: 1px;

	/* Notification (critical). */
	--Notification-color--critical: var(--white-color);
	--Notification-backgroundColor--critical: var(--Critical-backgroundColor);
	--Notification-borderWidth--critical: 0;

	/* Notification (warning). */
	--Notification-color--warning: var(--black-color);
	--Notification-backgroundColor--warning: var(--Warning-backgroundColor);
	--Notification-borderWidth--warning: 0;

	/* Modal. */
	--Modal-borderColor: transparent;
	--Modal-borderWidth: 0px;
	--Modal-boxShadow: 0 0 0 var(--Modal-borderWidth) var(--Modal-borderColor);

	/* Critical. */
	--Critical-backgroundColor: var(--critical-color-600);

	/* Warning. */
	--Warning-color: var(--black-color);
	--Warning-backgroundColor: #EFEB00;

	/* Content. */
	--Content-color-900: initial;
	--Content-backgroundColor--active: initial;
	--Content-fontWeight--bold: bolder;
}